*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  color: #fff;
  background-color: #0828cc; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 40px;
  height: 150px; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header__link {
    font-weight: 200;
    font-size: 12px;
    padding: 10px 20px;
    margin: 0 25px;
    text-decoration: none;
    color: #fff; }
    .header__link:hover {
      color: rgba(255, 255, 255, 0.5); }
    .header__link--button {
      border: 1px solid #fff;
      padding: 13px 20px;
      border-radius: 50px; }
      .header__link--button:hover {
        background-color: #fff;
        color: #0828cc; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }

.center {
  width: 90%;
  position: relative; }
  .center__container {
    height: 600px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative; }
  .center__logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center__heading {
    font-size: 50px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); }
  .center__subtitle {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    line-height: 30px; }
  .center__explore {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -100%);
    border-style: none;
    padding: 15px 30px;
    border-radius: 50px;
    color: #0828cc;
    border: 1px solid white; }
    .center__explore:hover {
      background-color: transparent;
      color: white;
      cursor: pointer; }

.left,
.right {
  width: 5%; }

.right {
  margin-top: 400px; }
  .right__links {
    display: flex;
    flex-direction: column; }
  .right__link {
    border: 1px solid white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    margin: 5px; }
    .right__link:hover {
      background-color: #fff; }
      .right__link:hover > i {
        color: #0828cc; }
  .right__icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.left {
  transform: rotate(270deg);
  font-size: 13px;
  width: 200px;
  position: absolute;
  top: 80%;
  left: -5%; }
  .left:hover {
    color: red; }
